# Archivos generados por el Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de editores de código y IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de dependencias (si en el futuro se añaden)
node_modules/
bower_components/

# Datos sensibles (¡nunca subir!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de construcción o distribución
/dist
/build
